# Database
sqlite3

# Data Manipulation
pandas

# Web App Framework
streamlit

# Image Processing
Pillow

# Date and Time
datetime
dateutil

# PDF Generation
reportlab
reportlab[images]
reportlab[pdfbase]
reportlab[pdfbase.cidfonts]

# Context Management
contextlib

# Data Visualization
plotly

# Data Encoding and Decoding
base64

# QR Code Generation
qrcode

# PDF to Image Conversion
pdf2image

# TrueType Fonts for PDF Generation
reportlab[pdfbase.ttfonts]

# Optical Character Recognition (OCR)
pytesseract

# Operating System Interaction
os
